.navbar {
    box-shadow: none;
}
hr {
}
input:active, 
input:focus, 
select:active, 
select:focus, 
textarea:focus,
textarea:active { /* changing the blue glow in forms */
    box-shadow: $shadow !important;
}
#totp-test-form input {
    margin: 0;
}
#totp-test-form input:active,
#totp-test-form input:focus {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important;
    background: pink;
}
